@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="container">
    <h3 class="text">
        Write a Post in the Forum
    </h3>
    <form action="#">
        <div class="input-data textarea">
            <textarea rows="8" cols="80" required></textarea>
            <br/>
            <div class="underline"></div>
            <br/>
            <div class="form-row submit-btn">
                <div class="input-data">
                    <div class="inner"></div>
                    <input type="submit" value="Submit">
                </div>
            </div>
        </div>
    </form>
</div>