@model IEnumerable<Post>

<div class="container">
    <h3 class="text">
        Write a Post in the Forum
    </h3>
    <form method="post" asp-controller="Posts" asp-action="Create">
        <div class="input-data textarea">
            <textarea name="content" rows="8" cols="80" placeholder="Share a random insight... cars, technologies, dogs, whatever."required></textarea>
            <br />
            <div class="underline"></div>
            <br />
            <div class="form-row submit-btn">
                <div class="input-data">
                    <div class="inner"></div>
                    <input type="submit" value="Submit">
                </div>
            </div>
        </div>
    </form>
    <br />
    <br />
    <h3 class="text">
        All Posts
    </h3>
    <br />
    
    @if (Model.Any())
    {
        @foreach (var post in Model)
        {
            <div class="post">
                <h5 class="text">@post.Author!.Email</h5>
                <p>@post.Content</p>
            </div>
        }
    }
    else
    {
        <div class="post">
            <h5 class="text">No posts yet.</h5>
            <p>Be the first to create one!</p>
        </div>
    }
</div>